<div class="container mt-4">
    <div class="card">
        <h1>Register</h1>

        <form>
            <div class="form-group">
            <label>Name</label>
            <input type="text"[(ngModel)]="name[ngModelOptions]="{standalone:
            true}" class=""form-control" id="name" placeholder=""Enter Name">
        </div>
        <div class="form-group">
            <label>address</label>
            <input type="text"[(ngModel)]="address[ngModelOptions]="{standalone:
            true}" class="form-control" id="address" placeholder=""Enter address">
        </div>
        <div class=""form-group">
        <label>Phone</label>
            <input type="text"[(ngModel)]="phone[ngModelOptions]="{standalone:
            true}" class=""form-control" id="phone" placeholder=""Enter Moblie">
        </div><button type="submit" class=""btn btn-primary mt-4"(click)="register()">
        Submit</button>
        </form>
        </div>
        <div>
    
